.mdl-mini-footer {
    justify-content: center;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: black;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-cell--4-col {
    text-align: center;
}