.mdl-mini-footer {
    justify-content: center;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: black;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-cell--4-col {
    text-align: center;
}

.canvas-interactive-wrapper {
  position: relative;
  height: 300px;
  text-align: center;
}

.canvas-interactive-wrapper canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.canvas-interactive-wrapper .cta-wrapper {
  margin-top: 130px;
}

.canvas-interactive-wrapper .cta-wrapper a {
  position: relative;
  display: inline-block;
  padding: 3px 7px;
  border: solid 1px transparent;
  margin-right: 50px;
  z-index: 1;
  text-decoration: none;
  color: #222;
  transition: border .3s;
}

.canvas-interactive-wrapper .cta-wrapper a.active {
  border-color: #222;
}